<table class="table table-hover">
    <thead>
        <th>Username</th>
        <th>Profile</th>
        <th>Value</th>
        <th></th>
    </thead>
    <tbody>
        <tr ng-if="vm.loading">
            <td colspan="4">loading ...</td>
        </tr>
        <tr ng-if="!vm.loading" ng-repeat="dev in vm.list">
            <td>{{::dev.login}}</td>
            <td><a ng-href="{{::dev.html_url}}" target="_blank">profile</a></td>
            <td>$ {{::dev.value}}</td>
            <td><button ng-click="vm.addToCart(dev)" class="btn btn-default">add to cart</button></td>
        </tr>
    </tbody>
</table>

